.expensebtn{
  margin: 1em;
  border-radius: 5px !important;
}
.expensebtn:hover{  
  background-color: rgb(16, 102, 184) !important;
}
h1{ 
  text-align: center;
}
.table{
  border: 2px solid rgba(0, 0, 0, 0.247);
  padding: 1em;
}